<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间
-->

<mapper namespace="com.gutaicheng.dao.PendingMapper">

    <insert id="addPending">
        insert into pending(uid, ptitle, type, paid, presult) VALUES (#{uid}, #{ptitle}, #{type}, #{paid}, #{presult})
    </insert>

    <select id="selectAllPending" resultType="com.gutaicheng.model.Pending">
        select pid, user.username, ptitle, type, admin.username as adminname, pdate, presult
        from pending, user, admin
        where pending.uid = user.uid and pending.paid = admin.id
    </select>
    <select id="selectPendingByUid" resultType="com.gutaicheng.model.Pending">
        select pid, user.username, ptitle, type, admin.username as adminname, pdate, presult
        from pending, user, admin
        where pending.uid = user.uid and pending.paid = admin.id and user.uid = #{uid} ORDER BY `pdate` DESC
    </select>
</mapper>